.box {
  height: 200px;
  border-radius: var(--mantine-radius-md);
}

.gradientHorizontal {
  background-image: linear-gradient(
    90deg /* <- change the angle of the gradient here */,
    var(--mantine-color-violet-7) 0%,
    var(--mantine-color-grape-4) 100%
  );
}

.gradientVertical {
  background-image: linear-gradient(
    180deg,
    var(--mantine-color-violet-7) 0%,
    var(--mantine-color-grape-4) 100%
  );
}

.gradientDiagonal {
  background-image: linear-gradient(
    45deg,
    var(--mantine-color-violet-7) 0%,
    var(--mantine-color-grape-4) 100%
  );
}

.gradientRadial {
  background-image: radial-gradient(
    var(--mantine-color-violet-7) 0%,
    var(--mantine-color-grape-4) 100%
  );
}
