.link {
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--mantine-color-white);
}

.card {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.transparent {
  max-width: 100%;
}

.timeBox {
  align-self: flex-end;
}

.title {
  font-family: Outfit, sans-serif;
  font-weight: 600;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: 20px;
  background: rgba(255, 165, 0, 0.9);
  padding: 0px 4px;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.time {
  color: var(--mantine-color-white);
  font-weight: 700;
  background: rgba(255, 165, 0, 0.8);
  padding: 0px 4px;
  display: inline;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}
