a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.card {
  height: 440px;
  background-size: cover;
  background-position: center;
  position: relative;

  @media (max-width: $mantine-breakpoint-sm) {
    height: 200px;
  }
}

.overlay {
  position: absolute;
  top: 0.5rem;
  right: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.5rem;
}

.title {
  font-family: Outfit, sans-serif;
  font-weight: 600;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  line-height: 1.2;
  font-size: 20px;
  margin-top: var(--mantine-spacing-xs);
  flex: 1;
}

.time {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  opacity: 0.7;
  font-weight: 700;
  text-transform: lowercase;
  /* padding-left: 20px; */
}

.caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
}
