.icons2 {
  width: 30px;
  height: 30px;
}

.servesGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.numberInput {
  width: 60px;
  outline: orange;
}

.timeGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.3rem;
}

.text {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  opacity: 0.7;
}

.icons {
  background-color: white;
  color: orange;
  display: flex;
  align-items: center;
  border-radius: 50%;
  padding: 5px;
}
